* {
    box-sizing: border-box;
}

body {
    font-family: 'Montsserat', 'Trebuchet MS', Arial, sans-serif;
    background-color: wheat;
}

/* main {
    margin: auto 0.25rem;
} */

h1, h2, h3, h4, .app-name {
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 2.9rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.nav-links {
    padding: 0;
}

.nav-links li {
    list-style: none;
    font-size: 1.75rem;
    text-align: center;
    padding: .75rem 0;
    background-color: antiquewhite;
}

.nav-links .app-name {
    background-color: lightcoral;
}

.find-a-bank-title, .filter-title {
    background-color: orangered;
    padding: 1rem 1rem 1rem 0;
    margin-right: 2rem;
}

/* profile page styling */

table, th, td {
    border: 1px solid black;
    text-align: left;
}

/* css for find-a-bank */

#filter-time h4 {
    font-size: 1.25em;
    padding: 0.25em 0;
}

#filter-time .input-element {
    display: inline-block;
}

.filter-category {
    margin-bottom: 1.5rem;
}

#search-bar {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#search-bar label {
    font-weight: bold;
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
}

#bank-search-text {
    width: 74%;
}

.filter-title {
    background-color: blue;
    margin-bottom: 1rem;
}

#bank-search-btn {
    width: 24%;
    height: 2.5rem;
    border: 4px solid gold;
    background-color: yellow;
}

#search-bar label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* #search-bar .bank-search-text {
    width: 1px;
    height: auto;
} */

.result-item h3 {
    font-size: 1.6rem;
}

.result-item p {
    margin: 0.25em 0;
}

.result-item a {
    font-size: 1em;
}

@media (min-width: 900px) {
    /* search page styling */
    /* margin left for search bar */

    #search-bar input {
        width: 40%;
    }
}