body {
    background-color: wheat;
    font-family: 'Roboto', 'Trebuchet MS', Arial, sans-serif;
    margin: 2rem;

}
h1, main {
    padding:1rem;
    text-align: center;
}


button {
    margin-top: 2rem;
    color:black;
    background-color: whitesmoke;
    font-size: 16px;
    border-radius: 8px;

}
h1 {
    background-color: burlywood;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: burlywood;
    padding: 0.001rem 0.001rem 0.001rem 0.001rem;
    color: white;
}