/* General site styling */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montsserat', 'Trebuchet MS', Arial, sans-serif;
    background-color: whitesmoke;
}

h1, h2, h3, h4, .app-name, .nav-element {
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 2.9rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

footer {
    background-color: #ce313f;
    border-top: 10px ridge black;
    color: ivory;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
}

footer a {
    color: #330a08;
}

.nav-links {
    font-size: 1.75rem;
    text-align: center;
    padding: 0;
    color: ivory; 
    margin-bottom: 1em;
}

.nav-element {
    background-color: lightcoral;
    padding: 0.5rem 0;
    font-weight: normal;
}

.nav-element:not(:last-child) {
    border-bottom: 2px solid #f06060;
}

.nav-links .app-name {
    background-color: #ce313f;
    font-weight: bold;
}

.page-title {
    background-color: #ce313f;
    color: ivory;
}

.em--pink {
    font-style: normal;
    font-weight: bold;
    color: #ce318d;
}

/* index.html styling */
.home-page-title h1 {
    font-size: 2.5rem;
}

/* profile page styling */

table, th, td {
    border: 1px solid black;
    text-align: left;
}

/* find-a-bank.html styling */

#filter-time h4 {
    font-size: 1.25em;
    padding: 0.25em 0;
}

#filter-time .input-element {
    display: inline-block;
}

.filter-category {
    margin-bottom: 1.5rem;
}

#search-bar {
    margin-bottom: 1.5rem;
}

#search-bar label {
    font-weight: bold;
    font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
}

#bank-search-text {
    width: 74%;
}

#bank-search-btn {
    width: 24%;
    height: 2.5rem;
    border: 4px solid darkred;
    background-color: #ce313f;
    color: ivory;
}

#search-bar label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#search-button-text {
    display: none;
}

.result-item h3 {
    font-size: 1.6rem;
}

.result-item p {
    margin: 0.25em 0;
}

.result-item a {
    font-size: 1em;
}

.page-title, .sub-section-title {
    padding: 0.75rem 1rem 0.75rem 0;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.sub-section-title {
    background-color: #ce318d;
    margin-bottom: 1rem;
    color: ivory;
}

.card-header {
    background-color: #c37231;
    color: black;
}

@media (min-width: 900px) {
    /* search page styling */
    /* margin left for search bar */

    #search-bar input {
        width: 40%;
    }
}